<div class="bg-white ring-4 ring-black/5 max-w-lg w-full shadow-xl rounded-lg mx-auto p-8 text-center flex flex-col gap-6">
  <div class="w-32 max-w-full mx-auto">
    <img src="https://cdn-icons-png.flaticon.com/512/3558/3558827.png" alt="not authorized icon">
  </div>
  <span class="font-medium text-2xl">You are not authorized</span>
  <%= if(!firstDoorOpen) { %>
    <a href="/login" class="border-2 border-[#008CFFFF] bg-[#2597F3] hover:bg-[#008CFFFF] text-white transition-colors w-max px-10 py-2.5 mx-auto rounded-md mt-4">Log in</a>
  <% }  %>

  <%= if(firstDoorOpen && !secondDoorOpen) { %>
    <a href="/authenticate" class="border-2 border-[#008CFFFF] bg-[#2597F3] hover:bg-[#008CFFFF] text-white transition-colors w-max px-10 py-2.5 mx-auto rounded-md mt-4">Authenticate</a>
  <% }  %>
</div>

